/* VARIABLES */

:root {
XX
}


/* GÉNÉRAL */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 1.5rem;
}