/* VARIABLES */

/* :root {

} */


/* GÉNÉRAL */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

h1 {
  font-family: 'Asap', sans-serif;
  font-family: 'Parisienne', cursive;
}


/* MAIN  */

.main__container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  height: 100vh;
  width: 100vw;
}

.main__content {
  display: flex;
  flex-direction: column;
  background-color:darkgreen;
  height: 100vh;
  width: 100vw;
  padding: 5rem 0rem 0rem 8rem;
  /* justify-content: center; */
  /* align-items: center; */

}

h1 {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

